<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @message.user %>
</p>

<p>
  <strong>Time sent:</strong>
  <%= @message.time_sent %>
</p>

<p>
  <strong>Time read:</strong>
  <%= @message.time_read %>
</p>

<p>
  <strong>Base:</strong>
  <%= @message.base %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
