<h1>New Conversation</h1>

<%= form_with url: send_msg_path do |form| %>
  <%= form.text_field :usernames, multiple: true %>
  <%= form.text_area :content %>
  <br/>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', conversations_path %>
