<div id="messages" data-conversation-id="<%= @conversation.id %>">
    <%= render @conversation.messages %>
    <%= link_to 'Back', conversations_path %>
</div>
<div id="send_form">
    <%= form_with url: send_msg_path do |form| %>
        <div class="form_body">
            <% @conversation.users.each do |user| %>
                <%= form.hidden_field :usernames, multiple: true, value: user.username %>
            <% end %>
            <%= form.text_field :content, placeholder: "[enter] to send message", rows: 2 %>
            <%# form.submit "send", id: 'send_button' %>
        </div>
    <% end %>
</div>

<script>
    window.scrollTo(0,document.body.scrollHeight);
    $('#messages').scrollTop($('#messages')[0].scrollHeight - $('#messages')[0].clientHeight);
    registerChannel("<%= @conversation.id %>")
</script>
