<p>hi</p>
<% @conversation.messages.each do |message| %>
  <b><%= message.user.username %></b>
  <p><%= message.local(current_user.lang).content %></p>
<% end %>
<%= form_with url: send_msg_path, local: true do |form| %>
    <% @conversation.users.each do |user| %>
        <%= form.hidden_field :usernames, multiple: true, value: user.username %>
    <% end %>
    <%= form.text_area :content %>
    <br />
    <%= form.submit %>
<% end %>
<%= link_to 'Back', conversations_path %>
